/* fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');



.App {
  text-align: center;
  /* margin: 1.5em; */
  /* border: 3px solid red; */
  /* height: 100%; */
  color: white;
  background-image: url('./images/scott-webb-5IsdIqwwNP4-unsplash.jpg');
  image-orientation: flip;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: rgba(9, 155, 116, 0.786);
  font-family: 'Comforter', cursive;
  font-size: 2.5em;
}


.exercise-wrapper {
  font-size: 0.9em;
  /* border: blue solid 2px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 5em;
  padding-right: 5em;
  text-align: center;
}







