/* fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');


.App {
  /* border: 3px solid red; */
  text-align: center;
  color: white;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  background-image: url('./images/scott-webb-5IsdIqwwNP4-unsplash.jpg');
  image-orientation: flip;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* height: 100%; */
  width: 100vw;
  /* height: 100vh; */
  padding: 50px;
  /* background-position: center; */
}

h1 {
  color: rgba(9, 155, 116, 0.786);
  /* border: 3px red solid; */
  font-family: 'Comforter', cursive;
  font-size: 2.5em;
}


.exercise-wrapper {
  font-size: 0.9em;
  /* border: blue solid 2px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: 5em;
  padding-top: 2em;;
  /* padding: 5em; */
  text-align: center;
  /* border: red 3px solid; */
}

.single-exercise {
  /* display: flex; */
  flex-wrap: wrap;
  align-content: space-evenly;
  border: rgba(114, 114, 114, 0.2) 2px solid;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  border-radius: 12px;
  margin: 0.5em;
}








