/* fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

.App {
  text-align: center;
  margin: 1.5em;
}

h1 {
  color: rgb(10, 131, 191);
  font-family: 'Comforter', cursive;
  font-size: 2.5em;
}


.exercise-wrapper {
  font-size: 0.9em;
  /* border: blue solid 2px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 5em;
  padding-right: 5em;
  text-align: center;
}


